<div *ngIf="(movie$ | async) as movie;" class="container">
	<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="center center">
		<mat-card fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="card mat-elevation-z0">
			<mat-card-header>
				<mat-card-title>{{movie?.Title}} ({{movie?.Year}})</mat-card-title>
				<mat-card-subtitle> {{movie?.Genre}} - {{movie.Runtime}}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image class="movieImage" alt="img" src="{{getMoviePoster(movie?.Poster)}}" onError="this.src='./assets/images/not-found.jpeg'"
			 alt="">
			<mat-card-actions>
				<a class="links" href="https://www.imdb.com/title/{{movie?.imdbID}}/?ref_=fn_al_tt_1" target="_blank">IMDb</a>
			</mat-card-actions>
			<mat-card-content>
				<p>{{movie?.Plot}}</p>
				<ul>
					<li>imdbRating: <b>{{movie.imdbRating}}</b></li>
					<li>imdbVotes: <b>{{movie?.imdbVotes}}</b></li>
					<li>Language: <b>{{movie?.Language}}</b></li>
					<li>Director: <b>{{movie?.Director}}</b></li>
					<li>Writer: <b>{{movie?.Writer}}</b></li>
					<li>Stars: <b>{{movie?.Actors}}</b></li>
				</ul>
			</mat-card-content>
		</mat-card>
	</div>
</div>
