<!-- TODO make the card below becomes a reusable component -->
<div *ngIf="(movies$ | async) as movies;" class="container">
	<div fxLayout="column wrap" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="center center">
		<ng-container *ngFor="let movie of movies; trackBy: trackByFn;">
			<mat-card fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" class="card mat-elevation-z0">
				<mat-card-header>
					<mat-card-title>{{movie?.Title}} ({{movie?.Year}})</mat-card-title>
					<mat-card-subtitle>Type: {{movie?.Type}}</mat-card-subtitle>
				</mat-card-header>
				<img mat-card-image class="movieImage" [routerLink]="['/movie-details']" [queryParams]="getQueryParams(movie)" alt="img"
				 src="{{getMoviePoster(movie?.Poster)}}" onError="this.src='./assets/images/not-found.jpeg'" alt="">
				<mat-card-content>
				</mat-card-content>
				<mat-card-actions>
					<a class="links" [routerLink]="['/movie-details']" [queryParams]="getQueryParams(movie)"> Details </a>
					<!--todo create pipe to sanitize url -->
					<a class="links" href="{{getIMDBUrl(movie)}}" target="_blank">IMDb</a>
				</mat-card-actions>
			</mat-card>
		</ng-container>
	</div>
	<div fxLayoutAlign="center center" class="loadMore">
		<button mat-raised-button (click)="loadMore(movies)" [disabled]="isAllowedToLoadMore()">Load More</button>
	</div>
</div>
